<div>
    <iframe 
        title="BigBlueButton Player" 
        id="player-iframe"
        src="<%= @url %>"
        frameborder="0" 
        height="100%" 
        width="100%"
        allowfullscreen>
    </iframe>
</div>
