#player-iframe{
    display: block; 
    border: none; 
    overflow-y: auto; 
    overflow-x: hidden;
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px
}

#player-download{
    z-index: 9999;
    position: absolute;
    top: 2%;
    right: 1%;
}
